
# development tools
# ------------------------------------------------------------------------------

.devspace

# secret files
# ------------------------------------------------------------------------------

**/secrets.yaml
**/secrets/*.yaml
!**/secrets/*.enc.yaml
!**/secrets/kustomization.yaml

# backup files
# ------------------------------------------------------------------------------

owncloud*