---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: traefik
  namespace: kube-system
spec:
  interval: 1m0s
  url: oci://ghcr.io/traefik/helm/traefik
  ref:
    semver: ">= 38.0.*"

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: kube-system
spec:
  interval: 5m
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: traefik
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    api:
      dashboard: true
      insecure: true
    logs:
      general:
        level: DEBUG
      access:
        enabled: true
    providers:
      kubernetesCRD:
        allowCrossNamespace: true